config/config.php
uploads/materiales/*
uploads/entregas/*
uploads/enunciados/*
uploads/reportes/*
uploads/avatares/*
uploads/grabaciones/*
!uploads/materiales/.gitkeep
!uploads/entregas/.gitkeep
!uploads/enunciados/.gitkeep
!uploads/reportes/.gitkeep
!uploads/avatares/.gitkeep
!uploads/grabaciones/.gitkeep
*.log
.DS_Store
Thumbs.db
